{% macro build(type, class, icon, message) %}
    <div class="alert fade show {{ class }} alert-dismissible" role="alert">
        <img src="{{ staticRoot }}/foto/web/public/images/icons/{{ icon }}.png" width="16" height="16" class="icon" alt="{{ type }}" title="{{ type }}" border="0" />
        {{ message|raw }}
        <button type="button" class="btn-close close" data-bs-dismiss="alert" aria-hidden="Close">&times;</button>
    </div>
{% endmacro build %}
