{% extends "/app/Resources/Views/gamebase.twig" %}

{% block stylesheets %}
    {{ recordTile.css('competitions-container', 'competitionRecord', '140px', '33.3%') }} {# container, class, minHeight, maxWidth #}
    <style type="text/css">
        @media (max-width: 688px) {
            section#ccontainer section#content .c-row.cf > .c-row-50.col {width:100%;border:none;}
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="top">
        Bank
    </div>
    <div class="tab-container cf">
        <div class="tab {% if tab == 'bank' %}tab_on{% endif %} t-25">
            <a href="{{ routing.getRouteByRouteName('bank') }}">
                <img src="{{ staticRoot }}/foto/web/public/images/icons/coins.png" class="icon" alt=""/> Bank
            </a>
        </div>
        <div class="tab {% if tab == 'swiss-bank' %}tab_on{% endif %}  t-25">
            <a href="{{ routing.getRouteByRouteName('swiss-bank') }}">
                <img src="{{ staticRoot }}/foto/web/public/images/icons/building.png" class="icon" alt=""/> {{ langs.SWISS }} Bank
            </a>
        </div>
        <div class="tab {% if tab == 'financial' %}tab_on{% endif %} t-25">
            <a href="{{ routing.getRouteByRouteName('financial') }}">
                <img src="{{ staticRoot }}/foto/web/public/images/icons/money.png" class="icon" alt=""/> {{ langs.FINANCIAL }}
            </a>
        </div>
        <div class="tab {% if tab == 'bank-logs' %}tab_on{% endif %} t-25">
            <a href="{{ routing.getRouteByRouteName('bank-logs') }}">
                <img src="{{ staticRoot }}/foto/web/public/images/icons/newspaper.png" class="icon" alt=""/> {{ langs.BANK_LOGS }}
            </a>
        </div>
    </div>
    <div class="content-container">
        {% include "/src/Views/game/tabs/bank/"~tab~".twig" %}
    </div>
{% endblock content %}

{% block javascripts %}
<script type="text/javascript" src="{{ staticRoot }}/web/public/js/ajax-form.js"></script>
<script type="text/javascript">
    {% set swissLeft = bankData.getSwissBankMax - bankData.getSwissBank %}
    {% set selectTag = 'select#bankTransferAction' %}
    {% set inputField = 'input#bankTransferValueField' %}
    $('{{ selectTag }}').change(function (e) {
        var val = $(this).val();
        switch(val)
        {
            case 'getMoney':
                if( {{ userData.getBank }} >= 999999999 ) {
                    $("{{ inputField }}").val('999999999');
                } else {
                    $("{{ inputField }}").val('{{ userData.getBank }}');
                }
                break;
            case 'putMoney':
                if( {{ userData.getCash }} >= 999999999 ) {
                    $("{{ inputField }}").val('999999999');
                } else {
                    $("{{ inputField }}").val('{{ userData.getCash }}');
                }
                break;
        }
    });
    
    {% set selectTag = 'select#swissBankTransferAction' %}
    {% set inputField = 'input#swissBankTransferValueField' %}
    $('{{ selectTag }}').change(function (e) {
        var val = $(this).val();
        switch(val)
        {
            case 'getMoney':
                if( {{ bankData.getSwissBank }} >= 999999999 ) {
                    $("{{ inputField }}").val('999999999');
                } else {
                    $("{{ inputField }}").val('{{ bankData.getSwissBank }}');
                }
                break;
            case 'putMoney':
                if( {{ userData.getBank }} >= {{ swissLeft }} ) {
                    $("{{ inputField }}").val('{{ swissLeft }}');
                } else if( {{ userData.getBank }} >= 999999999 ) {
                    $("{{ inputField }}").val('999999999');
                } else {
                    $("{{ inputField }}").val('{{ userData.getBank }}');
                }
                break;
        }
    });
</script>
{% endblock javascripts %}
