{% extends "/app/Resources/Views/gamebase.twig" %}

{% block stylesheets %}
    <style type="text/css">
        .carousel {height:276px;}
        div.carousel-inner h2, div.carousel-inner p {margin:0;}
        div.carousel-inner h2 {margin-top: 0.5em;}
        div.carousel-inner p {margin-bottom: 0.5em;}
        #crimesLvl {position:relative;display:block;margin-top: -3.85em;margin-bottom:2.5em;}
        #crimesLvl > .number {font-size: 18px !important;}
        input[type=text].username {max-width: 110px;}
        input[type="radio" i] {margin:0;position: relative;top: 2px;}
        #crimes select {max-width:75px;}
        #crimes select[name=vehicleID], #crimes select[name=weaponType], #crimes select[name=intelType] {max-width:120px;}
        @media (max-width: 688px) {
            section#ccontainer section#content #crimes.row.cols.cf > .c-30.column, section#ccontainer section#content #crimes.row.cols.cf > .c-70.column {width:100%;border:none;}
            section#ccontainer section#content #crimes.row.cols.cf > .c-70.column {border-bottom:1px solid #000;}
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<div class="top">
    {{ langs.CRIMES }}
</div>
<div class="tab-container cf">
    <div class="tab {% if tab == 'spontaneous' %}tab_on{% endif %} t-50">
        <a href="{{ routing.getRouteByRouteName('crimes') }}">
            <img src="{{ staticRoot }}/foto/web/public/images/icons/gun.png" class="icon" alt=""/> {{ langs.SPONTANEOUS }}
        </a>
    </div>
    <div class="tab {% if tab == 'organized' %}tab_on{% endif %}  t-50">
        <a href="{{ routing.getRouteByRouteName('organized-crimes') }}">
            <img src="{{ staticRoot }}/foto/web/public/images/icons/group_gun.png" class="icon" alt=""/> {{ langs.ORGANIZED }}
        </a>
    </div>
</div>
<div class="content-container">
    {% include "/src/Views/game/tabs/crimes/"~tab~".twig" %}
</div>
{% endblock content %}

{% block javascripts %}
<script type="text/javascript" src="{{ staticRoot }}/web/public/js/ajax-form.js"></script>
<script type="text/javascript">
    $('.execbutton').on("click", function(){
        $("#commitCrimeResponse").empty();
    });
    {% if tab == 'organized' %}
        $(document).on('change', 'select[name=friend]', function() {
            $('input[name=username]').val(this.value);
        });
        $(document).on('change', 'select[name="friend-getaway"]', function() {
            $('input[name=getaway]').val(this.value);
        });
        $(document).on('change', 'select[name="friend-ground"]', function() {
            $('input[name=ground').val(this.value);
        });
        $(document).on('change', 'select[name="friend-intel"]', function() {
            $('input[name=intel').val(this.value);
        });
    {% endif %}
</script>
{% if commit == true %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('input.execbutton.active').click();
        });
    </script>
{% endif %}
{% endblock javascripts %}
