{% extends "/app/Resources/Views/gamebase.twig" %}

{% block content %}
<div style="max-width:  440px; margin: 0 auto;;">
    <form class="ajaxForm" method="POST" action="{{ routing.getAjaxRouteByRouteName('hitlist-order') }}" data-response="#orderHitlistResponse">
        <div class="subtop">{{ langs.HITLIST }}</div>
        <div class="content-container">
            <div id="orderHitlistResponse" class="rowMsg"></div>
            <div class="row cols cf">
                <div class="c-30 column">
                    <img src="{{ staticRoot }}/foto/web/public/images/icons/user.png" class="icon" alt="{{ langs.NAME }}"/> {{ langs.NAME }}
                </div>
                <div class="c-70 column">
                    <input type="text" name="username" />
                </div>
            </div>
            <div class="row cols cf">
                <div class="c-30 column">
                    <img src="{{ staticRoot }}/foto/web/public/images/icons/email.png" class="icon" alt="{{ langs.REASON }}"/> {{ langs.REASON }}
                </div>
                <div class="c-70 column">
                    <input type="text" name="reason" />
                </div>
            </div>
            <div class="row cols cf">
                <div class="c-30 column">
                    <img src="{{ staticRoot }}/foto/web/public/images/icons/coins.png" class="icon" alt="{{ langs.PRIZE }}"/> {{ langs.PRIZE }}
                </div>
                <div class="c-70 column">
                    <input type="number" name="prize" />
                </div>
            </div>
            <div class="row cols cf">
                <div class="c-30 column">
                    <img src="{{ staticRoot }}/foto/web/public/images/icons/user_delete.png" class="icon" alt="{{ langs.ANONYMOUS }}"/> {{ langs.ANONYMOUS }}
                </div>
                <div class="c-70 column">
                    <div class="form-check">
                        <input type="checkbox" name="anonymous" class="form-check-input" id="anonymous" />
                        <label class="form-check-label" for="anonymous">{{ langs.COSTS_ANONYMOUS }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="hidden" name="security-token" value="{{ securityToken }}" />
                <input type="submit" name="order-hitlist-record" value="{{ langs.ORDER }}"/>
            </div>
        </div>
    </form>
</div>
<br class="cleat"/>
<div id="buyOutHitlistResponse"></div>
{% include "src/Views/.Paginate.twig" %}
<div class="clear"></div>
<div class="table-responsive">
    <table class="table table-sm table-dark table-bordered">
      <thead>
        <tr>
          <th scope="col" class="center">#</th>
          <th scope="col" class="center"><strong>{{ langs.NAME }}</strong></th>
          <th scope="col" class="center"><strong>{{ langs.REASON }}</strong></th>
          <th scope="col" class="center"><strong>{{ langs.PRIZE }}</strong></th>
          <th scope="col" class="center"><strong>{{ langs.ORDERER }}</strong></th>
        </tr>
      </thead>
      <tbody>
        {% for h in hitlist %}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
              <td scope="row" class="center">{{ loop.index }}</td>
              <td><a href="/game/profile/{{ h.getUsername }}">{{ h.getUsername }}</a></td>
              <td>{{ h.getReason }}</td>
              <td>
                <form class="ajaxForm" action="{{ routing.getAjaxRouteByRouteName('hitlist-buy-out') }}" method="POST" data-response="#buyOutHitlistResponse">
                    <input type="hidden" name="security-token" value="{{ securityToken }}" />
                    <input type="hidden" name="username" value="{{ h.getUsername }}"/>
                    {{ h.getPrize|moneyFormat }} - <input type="submit" name="buy-out" value="{{ langs.BUY_OUT }}"/>
                </form>
              </td>
              <td>{% if h.anonymous %}{{ langs.ANONYMOUS }}{% else %}<a href="/game/profile/{{ h.getOrderer }}">{{ h.getOrderer }}</a>{% endif %}</td>
            </tr>
        {% endfor %}
        {% if hitlist is empty %}
            <tr>
                <td colspan="5">
                    <img src="{{ staticRoot }}/web/public/images/icons/cross.png" class="icon" alt="No vehicles"/> {{ langs.NO_ORDERS }}
                </td>
            </tr>
        {% endif %}
      </tbody>
    </table>
</div>
<div class="clear"></div>
{% include "src/Views/.Paginate.twig" %}
{% endblock content %}

{% block javascripts %}
<script type="text/javascript" src="{{ staticRoot }}/web/public/js/ajax-form.js"></script>
{% endblock javascripts %}
