{% if response %}
    <div class="rowMsg">
        {% include "app/Resources/Views/macros/alerts.game.responses.twig" %}
    </div>
{% endif %}

<div id="carousel-tune-shop-{{ v.getId }}" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
  {# Indicators / Active always tires #}
  <ol class="carousel-indicators">
    {% for key, item in tuneShop %}
        {% set carouselActive = false %}
        {% if not activeCarousel %}
            {% set carouselActive = loop.first %}
        {% elseif activeCarousel == key %}
            {% set carouselActive = true %}
        {% endif %}
        <li data-bs-target="#carousel-tune-shop-{{ v.getId }}" data-bs-slide-to="{{ loop.index0 }}" class="{% if carouselActive %}active{% endif %}"></li>
    {% endfor %}
  </ol>
  {# Wrapper for slides #}
  <div class="carousel-inner">
    {% for key, items in tuneShop %}
    {% set carouselActive = false %}
    {% if not activeCarousel %}
        {% set carouselActive = loop.first %}
    {% elseif activeCarousel == key %}
        {% set carouselActive = true %}
    {% endif %}
    <div class="carousel-item {% if carouselActive %}active{% endif %}">
      <div class="table-reponsive">
        <table class="table table-sm table-dark table-bordered">
          <thead>
            <tr>
              <th scope="col" class="center" colspan="3">{{ langs[key|upper] }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for id, item in items %}
                  {% if id != 0 %}                                  
                  <td style="width: 32.2%;padding:0;">
                    <small><strong class="center">{{ item.name }}</strong></small>
                    <img src="{{ staticRoot }}/foto/web/public/images/garage/tune-shop/{{ key|seoUrl|lower }}_{{ loop.index }}.jpg" class="middle" alt="{{ langs[key|upper] }}"/>
                    <div class="table-reponsive">
                      <table class="table table-sm table-dark no-border">
                        <tbody style="border:0;">
                          <tr style="border:0;">
                            <td style="width:70%;border:0;"><img src="{{ staticRoot }}/foto/web/public/images/icons/car_add.png" class="icon" alt="{{ langs.HORSEPOWER }}"/> <small class="hideMobile">{{ langs.HORSEPOWER }}:</small></td>
                            <td style="width:30%;border:0;">+{{ item.pk }} {{ langs.HP|lower }}</td>
                          </tr>
                          <tr style="border:0;">
                            <td style="width:70%;border:0;"><img src="{{ staticRoot }}/foto/web/public/images/icons/lightning.png" class="icon" alt="{{ langs.TOPSPEED }}"/> <small class="hideMobile">{{ langs.TOPSPEED }}:</small></td>
                            <td style="width:30%;border:0;">+{{ item.ts }} mph</td>
                          </tr>
                          <tr style="border:0;">
                            <td style="width:70%;border:0;"><img src="{{ staticRoot }}/foto/web/public/images/icons/stats_curve.png" class="icon" alt="{{ langs.ACCELERATION }}"/> <small class="hideMobile">{{ langs.ACCELERATION }}:</small></td>
                            <td style="width:30%;border:0;">+{{ item.ac }}%</td>
                          </tr>
                          <tr style="border:0;">
                            <td style="width:70%;border:0;"><img src="{{ staticRoot }}/foto/web/public/images/icons/cog.png" class="icon" alt="{{ langs.CONTROL }}"/> <small class="hideMobile">{{ langs.CONTROL }}:</small></td>
                            <td style="width:30%;border:0;">+{{ item.ct }}%</td>
                          </tr>
                          <tr style="border:0;">
                            <td style="width:70%;border:0;"><img src="{{ staticRoot }}/foto/web/public/images/icons/anchor.png" class="icon" alt="{{ langs.BREAKING }}"/> <small class="hideMobile">{{ langs.BREAKING }}:</small></td>
                            <td style="width:30%;border:0;">+{{ item.br }}%</td>
                          </tr>
                          <tr style="border:0;">
                            <td style="width:70%;border:0;">
                                {% set shopView = (key == "tires" and v.getTires == id) or (key == "engine" and v.getEngine == id) or (key == "exhaust" and v.getExhaust == id) or (key == "shock_absorbers" and v.getShockAbsorbers == id) %}
                                {% if shopView %}
                                    {% set moneyIcon = "money" %}
                                    {% set moneyLang = langs.PRICE %}
                                {% else %}
                                    {% set moneyIcon = "coins" %}
                                    {% set moneyLang = langs.COSTS %}
                                {% endif %}
                                <img src="{{ staticRoot }}/foto/web/public/images/icons/{{ moneyIcon }}.png" class="icon" alt="{{ moneyLang }}"/> <small class="hideMobile">{{ moneyLang }}:</small>
                            </td>
                            <td style="width:30%;border:0;">
                                {% if shopView %}
                                    {% set itemPrice = item.price * 0.7 %}
                                    {{ itemPrice|round|moneyFormat }}
                                {% else %}
                                    {{ item.price|moneyFormat }}
                                {% endif %}
                            </td>
                          </tr>
                          <tr style="border: 0;">
                            <td style="border: 0;" colspan="2" class="center">
                                {% if shopView %}
                                    <input type="submit" name="sell-{{ key|lower }}-{{ id }}" class="execbutton red small" value="{{ langs.SELL }}"/>
                                {% else %}
                                    <input type="submit" name="buy-{{ key|lower }}-{{ id }}" class="execbutton green small" value="{{ langs.BUY }}"/>
                                {% endif %}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <br class="clear"/>
                      <br /><br />
                    </div>
                  </td>
                  {% endif %}
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
