{% import "app/Resources/Views/macros/percent.bar.macro.twig" as percentBar %}

<div id="interactVehicleResponse"></div>
{% for v in vehicles %}
    <form class="ajaxForm" action="{{ routing.getAjaxRouteByRouteName('interact-vehicle') }}" method="POST" data-response="#interactVehicleResponse">
      <input type="hidden" name="id" value="{{ v.getId }}"/>
      <input type="hidden" name="security-token" value="{{ securityToken }}"/>
      <div class="vehicle-{{ v.getId }}-manage">
        <div class="table-reponsive">
          <table class="table table-sm table-dark table-bordered">
            <thead>
              <tr>
                <th scope="col" class="center" colspan="2">{% if lang == 'nl' %}{{ langs.VEHICLE }} {{ langs.TUNE }}{% else %}{{ langs.TUNE }} {{ langs.VEHICLE }}{% endif %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="{{ staticRoot }}/foto/web/public/images/icons/car.png" class="icon" alt="{{ langs.VEHICLE }}"/> {{ langs.VEHICLE }}</td>
                <td>{{ v.vehicle.getName }}</td>
              </tr>
              <tr>
                <td><img src="{{ staticRoot }}/foto/web/public/images/icons/car_add.png" class="icon" alt="{{ langs.HORSEPOWER }}"/> <small>{{ langs.HORSEPOWER }}</small></td>
                <td>{{ v.vehicle.getHorsepower }} {{ langs.HP }}</td>
              </tr>
              <tr>
                <td><img src="{{ staticRoot }}/foto/web/public/images/icons/lightning.png" class="icon" alt="{{ langs.TOPSPEED }}"/> <small>{{ langs.TOPSPEED }}</small></td>
                <td>{{ v.vehicle.getTopspeed }} mph</td>
              </tr>
              <tr>
                <td><img src="{{ staticRoot }}/foto/web/public/images/icons/stats_curve.png" class="icon" alt="{{ langs.ACCELERATION }}"/> <small>{{ langs.ACCELERATION }}</small></td>
                <td>{{ percentBar.create(v.vehicle.getAcceleration, "bg-info") }}</td>
              </tr>
              <tr>
                <td><img src="{{ staticRoot }}/foto/web/public/images/icons/cog.png" class="icon" alt="{{ langs.CONTROL }}"/> <small>{{ langs.CONTROL }}</small></td>
                <td>{{ percentBar.create(v.vehicle.getControl, "bg-info") }}</td>
              </tr>
              <tr>
                <td><img src="{{ staticRoot }}/foto/web/public/images/icons/anchor.png" class="icon" alt="{{ langs.BREAKING }}"/> <small>{{ langs.BREAKING }}</small></td>
                <td>{{ percentBar.create(v.vehicle.getBreaking, "bg-info") }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br class="clear"/>
        <div id="carousel-tune-shop-{{ v.getId }}" class="carousel slide" data-ride="carousel">
          {# Indicators / Active always tires #}
          <ol class="carousel-indicators">
            {% for key, item in tuneShop %}
            <li data-target="#carousel-tune-shop-{{ v.getId }}" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}"></li>
            {% endfor %}
          </ol>
          {# Wrapper for slides #}
          <div class="carousel-inner">
            {% for key, items in tuneShop %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
              <div class="table-reponsive">
                <table class="table table-sm table-dark table-bordered">
                  <thead>
                    <tr>
                      <th scope="col" class="center" colspan="3">{{ langs[key|upper] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      {% for item in items %}
                      <td style="width: 32.2%;padding:0;">
                        <small><strong class="center">{{ item.name }}</strong></small>
                        <img src="{{ staticRoot }}/foto/web/public/images/garage/tune-shop/{{ key|seoUrl|lower }}_{{ loop.index }}.jpg" class="middle" alt="{{ langs[key|upper] }}"/>
                        <div class="table-reponsive">
                          <table class="table table-sm table-dark no-border">
                            <tbody style="border:0;">
                              <tr style="border:0;">
                                <td style="width:70%;border:0;"><img src="{{ staticRoot }}/foto/web/public/images/icons/car_add.png" class="icon" alt="{{ langs.HORSEPOWER }}"/> <small class="hideMobile">{{ langs.HORSEPOWER }}:</small></td>
                                <td style="width:30%;border:0;">+{{ item.pk }} pk</td>
                              </tr>
                              <tr style="border:0;">
                                <td style="width:70%;border:0;"><img src="{{ staticRoot }}/foto/web/public/images/icons/lightning.png" class="icon" alt="{{ langs.TOPSPEED }}"/> <small class="hideMobile">{{ langs.TOPSPEED }}:</small></td>
                                <td style="width:30%;border:0;">+{{ item.ts }} mph</td>
                              </tr>
                              <tr style="border:0;">
                                <td style="width:70%;border:0;"><img src="{{ staticRoot }}/foto/web/public/images/icons/stats_curve.png" class="icon" alt="{{ langs.ACCELERATION }}"/> <small class="hideMobile">{{ langs.ACCELERATION }}:</small></td>
                                <td style="width:30%;border:0;">+{{ item.ac }}%</td>
                              </tr>
                              <tr style="border:0;">
                                <td style="width:70%;border:0;"><img src="{{ staticRoot }}/foto/web/public/images/icons/cog.png" class="icon" alt="{{ langs.CONTROL }}"/> <small class="hideMobile">{{ langs.CONTROL }}:</small></td>
                                <td style="width:30%;border:0;">+{{ item.ct }}%</td>
                              </tr>
                              <tr style="border:0;">
                                <td style="width:70%;border:0;"><img src="{{ staticRoot }}/foto/web/public/images/icons/anchor.png" class="icon" alt="{{ langs.BREAKING }}"/> <small class="hideMobile">{{ langs.BREAKING }}:</small></td>
                                <td style="width:30%;border:0;">+{{ item.br }}%</td>
                              </tr>
                              <tr style="border:0;">
                                <td style="width:70%;border:0;"><img src="{{ staticRoot }}/foto/web/public/images/icons/coins.png" class="icon" alt="{{ langs.COSTS }}"/> <small class="hideMobile">{{ langs.COSTS }}:</small></td>
                                <td style="width:30%;border:0;">{{ item.price|moneyFormat }}</td>
                              </tr>
                              {#
                              <tr style="border: 0;">
                                <td style="border: 0;" colspan="2" class="center"><input type="submit" name="buy" class="execbutton green small" value="{{ langs.BUY }}"/></td>
                              </tr>
                              #}
                            </tbody>
                          </table>
                          <br class="clear"/>
                          <br /><br />
                        </div>
                      </td>
                      {% endfor %}
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            {% endfor %}
          </div>
          {# Controls left/right # }
          <a class="left carousel-control-prev" href="#carousel-tune-shop-{{ v.getId }}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">&nbsp;</span>
          </a>
          <a class="right carousel-control-next" href="#carousel-tune-shop-{{ v.getId }}" role="button" data-slide="next">
          <span class="sr-only">&nbsp;</span>
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a> #}
        </div>
      </div>
    </form>
{% endfor %}
