<div class="center">
    <img style="border: 1px solid #000;margin: .5em -.175em;" src="/foto/web/public/images/slot-machine/{{ fruits[0] }}.png" alt="{{ fruits[0] }}"/>
    <img style="border: 1px solid #000;margin: .5em -.175em;" src="/foto/web/public/images/slot-machine/{{ fruits[1] }}.png" alt="{{ fruits[1] }}"/>
    <img style="border: 1px solid #000;margin: .5em -.175em;" src="/foto/web/public/images/slot-machine/{{ fruits[2] }}.png" alt="{{ fruits[2] }}"/>
</div>
