{% import "app/Resources/Views/macros/user.tag.macro.twig" as userTagManager %}

<div class="content-container">
    <div class="c-row cf">
        <div id="ajaxLoader"></div>
        <h2 class="center">{{ langs. VIEWING_ROUND_FROM }}:
            <select name='round' onChange="document.location='{{ routing.getRouteByRouteName('information-hall-of-fame') }}' + this.value">
                {% for r in rounds %}
                    <option value="/{{ r.getRound }}"{% if r.getRound == round %} selected="selected"{% endif %}>{{ r.getRoundName|capitalize }}</option>
                {% endfor %}
                <option value=""{% if round != "0" %}{% if not round %} selected="selected"{% endif %}{% endif %}>{{ langs.CURRENT }}</option>
            </select>
        </h2>
        <div class="c-row-50 col">
            <div class="inner-c-container">
                <h4 class="center">Top 10 {{ langs.MEMBERS|lower }}</h4>
                <div class="table-responsive">
                    <table class="table table-sm table-dark table-bordered">
                      <thead>
                        <tr>
                          <th scope="col" class="center">#</th>
                          <th scope="col" class="center">{{ langs.USERNAME }}</th>
                          <th scope="col" class="center">Score</th>
                          <th scope="col" class="center">{{ langs.FAMILY }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for member in hof.members %}
                        <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                          <td scope="row" style="vertical-align: middle;" class="center">
                            {% if loop.index == 1 %}
                                <img src="{{ staticRoot }}/foto/web/public/images/icons/award_star_gold_1.png" class="icon" alt="{{ langs.FIRST_PLACE }}"/>
                            {% elseif loop.index == 2 %}
                                <img src="{{ staticRoot }}/foto/web/public/images/icons/award_star_silver_1.png" class="icon" alt="{{ langs.SECOND_PLACE }}"/>
                            {% elseif loop.index == 3 %}
                                <img src="{{ staticRoot }}/foto/web/public/images/icons/award_star_bronze_1.png" class="icon" alt="{{ langs.THIRD_PLACE }}"/>
                            {% else %}
                                {{ loop.index }}
                            {% endif %}
                          </td>
                          <td>{{ userTagManager.write('topListMember', member.getScorePosition, member.getId, member.getUsername, member.getDonatorID, member.getUsernameClassName, member.getAvatar, 'True') }}</td>
                          <td style="vertical-align: middle;">{{ member.getScore|valueFormat }}</td>
                          <td style="vertical-align: middle;">{% if member.getFamilyID != 0 %}<a href="/game/family-page/{{ member.getFamily }}">{% endif %}{{ member.getFamily }}{% if member.getFamilyID != 0 %}</a>{% endif %}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="c-row-50 col">
            <div class="inner-c-container">
                <h4 class="center">Top 5 families</h4>
                <div class="table-responsive">
                    <table class="table table-sm table-dark table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="center">#</th>
                                <th scope="col" class="center">{{ langs.NAME }}</th>
                                <th scope="col" class="center">{{ langs.MONEY }}</th>
                                <th scope="col" class="center">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fam in hof.families %}
                                <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                                  <td scope="row" class="center">
                                    {% if loop.index == 1 %}
                                        <img src="{{ staticRoot }}/foto/web/public/images/icons/award_star_gold_1.png" class="icon" alt="{{ langs.FIRST_PLACE }}"/>
                                    {% elseif loop.index == 2 %}
                                        <img src="{{ staticRoot }}/foto/web/public/images/icons/award_star_silver_1.png" class="icon" alt="{{ langs.SECOND_PLACE }}"/>
                                    {% elseif loop.index == 3 %}
                                        <img src="{{ staticRoot }}/foto/web/public/images/icons/award_star_bronze_1.png" class="icon" alt="{{ langs.THIRD_PLACE }}"/>
                                    {% else %}
                                        {{ loop.index }}
                                    {% endif %}
                                  </td>
                                  <td><a href="/game/family-page/{{ fam.getName }}"><span{% if fam.getVip %} class="vip"{% endif %}>{{ fam.getName }}</span></a></td>
                                  <td>{{ fam.getMoney|moneyFormat }}</td>
                                  <td>{{ fam.getTotalScore|valueFormat }}</td>
                                </tr>
                            {% endfor %}
                            {% if hof.families is empty %}
                                <tr>
                                  <td colspan="5">
                                    <img src="{{ staticRoot }}/foto/web/public/images/icons/cross.png" class="icon" alt="{{ langs.NONE }}"/> {{ langs.NONE }}
                                  </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <p>{{ langs.ROUND_PLAYED_FROM }} <strong>{{ hof.startDate }}</strong> {{ langs.TO|lower }} <strong>{% if not hof.endDate %}{{ langs.NOW|lower }}{% else %}{{ hof.endDate }}{% endif %}</strong>.</p>
            </div>
        </div>
    </div>
</div>
{% include "/src/Views/game/tabs/information/statistics.twig" with {fromHallOfFame: 'True'} %}
