<div class="content-container">
    <div class="c-row cf">
        <div class="inner-c-container">
            {% for status in teamMembers %}
                {% for statusName, st in status %}
                    <span class="{{ statusName|seoUrl }} txt-shadow">{{ statusName }}:</span> {{ st.statusDescription }}<br />
                    <ul>
                    {% for member in st %}
                        {% if member.username %}<li><a href="/game/profile/{{ member.username }}">{{ member.username }}</a></li>{% endif %}
                    {% endfor %}
                    </ul>
                {% endfor %}
            {% endfor %}
            <br class="clear"/>
            {{ langs.THANKS_TO_ALL_DONATORS }}
            <br /><br />
            <div id="donatorListReponse">
                {% set inDonatorList = 'False' %}
                {% for donator in donatorList %}
                    {% if donator.getDonator == userData.getUsername %}
                        {% set inDonatorList = 'True' %}
                    {% endif %}
                {% endfor %}
                {% include "/src/Views/game/Ajax/donator-list.twig" %}
            </div>
            <br />
            {% if donationData %}
                <form name="donator-list" class="ajaxForm" action="{{ routing.getAjaxRouteByRouteName('donator-list') }}" method="POST" data-response="#donatorListReponse">
                    <div class="form-check">
                      <input type="hidden" name="security-token" value="{{ securityToken }}" />
                      <input class="form-check-input" type="checkbox" name="donator-list"{% if inDonatorList != 'False' %} checked="checked"{% endif %} value="" id="donator-list-application" />
                      <label class="form-check-label" for="donator-list-application">
                        {{ langs.DONATOR_LIST_INFO }}
                      </label>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>
