<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <base href="https://www.mafiasource.nl"/>
        <title>Mafiasource RPG</title>
        <link rel="preload" href="{{ staticRoot }}/web/public/css/offline.css" as="style" />
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" as="style" />
        <link rel="preload" href="{{ staticRoot }}/web/public/images/favicon/ic_launcher_round.png" as="image" />
        <link rel="stylesheet" href="{{ staticRoot }}/web/public/css/offline.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" />
    </head>
        <body>
        <header id="top" class="header">
            <img src="{{ staticRoot }}/web/public/images/favicon/ic_launcher_round.png" class="logo" alt="Mafiasource"/>
        </header>
        <p>{{ offlineMsg }}</p>
    </body>
</html>
