{% import "app/Resources/Views/macros/alert.macro.twig" as alert %}
{% import "app/Resources/Views/macros/cf.turnstile.macro.twig" as cfTurnstile %}

{% extends "/app/Resources/Views/base.twig" %}
 
{% block content %}
    <div class="container">
        {% if not recoverPasswordData %}
            {{ alert.build('Info', 'alert-info', 'help', langs.RECOVER_PASSWORD_INFO) }}
        {% endif %}
        {% include "app/Resources/Views/macros/alerts.base.top.twig" %}
        <div class="row">
            <div class="col-md-6" style="margin-bottom: 1em;">
                <section id="login-full">
                    <h1 class="right">{{ langs.RECOVER_PASSWORD_FOR }} <span class="black">Mafia</span>source</h1>
                    <form name="recover-password" action="{{ routing.getRoute }}" method="POST" autocomplete="off">
                        <table cellspacing="3" class="recover-password-table" width="100%">
                        {% if recoverPasswordData %}
                            <tr>
                        		<td class="va-top">
                        			<table border="0" cellspacing="0" class="zeroMargin">
                        	<tr>
                        		<td>
                        			<img src="{{ staticRoot }}/foto/web/public/images/icons/key.png" alt="{{ langs.PASSWORD }}" border="0" />
                        		</td>
                        		<td>
                        			&nbsp;{{ langs.NEW }} {{ langs.PASSWORD|lower }}:
                        		</td>
                        	</tr>
                        </table>		</td>
                        		<td>
                        			&nbsp;<input type="password" pattern="\S{6,}" name="new_password" /><br />
                        		</td>
                        	</tr>
                        	<tr>
                        		<td class="va-top">
                        			<table border="0" cellspacing="0" class="zeroMargin">
                        	<tr>
                        		<td>
                        			<img src="{{ staticRoot }}/foto/web/public/images/icons/key.png" alt="{{ langs.PASSWORD }}" border="0" />
                        		</td>
                        		<td>
                        			&nbsp;{{ langs.NEW }} {{ langs.PASSWORD|lower }} check:
                        		</td>
                        	</tr>
                        </table>		</td>
                        		<td>
                        			&nbsp;<input type="password" pattern="\S{6,}" name="new_password_check" maxlength="75" /><br />
                        		</td>
                        	</tr>
                        {% else %}
                        	<tr>
                        		<td class="va-top">
                        			<table border="0" cellspacing="0" class="zeroMargin">
                        	<tr>
                        		<td>
                        			<img src="{{ staticRoot }}/foto/web/public/images/icons/user.png" alt="{{ langs.USERNAME }}" border="0" />
                        		</td>
                        		<td>
                        			&nbsp;{{ langs.USERNAME }}:
                        		</td>
                        	</tr>
                        </table>		</td>
                        		<td>
                        			&nbsp;<input type="text" name="username" value=""/>
                        		</td>
                        	</tr>
                            <tr><td><h3>{{ langs.OR }}</h3></td></tr>
                        	<tr>
                        		<td class="va-top">
                        			<table border="0" cellspacing="0" class="zeroMargin">
                        	<tr>
                        		<td>
                        			<img src="{{ staticRoot }}/foto/web/public/images/icons/email.png" alt="{{ langs.EMAIL }}" border="0" />
                        		</td>
                        		<td>
                        			&nbsp;{{ langs.EMAIL }}Email:
                        		</td>
                        	</tr>
                        </table>		</td>
                        		<td>
                        			&nbsp;<input type="email" name="email" value="" />
                        		</td>
                        	</tr>
                        {% endif %}
                            <tr>
                                <td colspan="2">
                                    <br class="clear" />
                                    {{ cfTurnstile.turnstile('right') }}
                                </td>
                            </tr>
                        	<tr>
                        		<td colspan="2">
                        			<br />
                        			<input type="submit" class="input-submit" name="submit_email_change" value="{% if recoverPasswordData %}{{ langs.UPDATE_PASSWORD }}{% else %}{{ langs.RECOVER_PASSWORD }}{% endif %}" />
                                </td>
                        	</tr>
                        </table>
                    </form>
                </section>
            </div>
            <div class="col-md-6">
                <section id="slider">
                    <ul>
                        <li>
                            <div class="slider-container">
                                {{ langs.SLIDER1|raw }}
                            </div>
                        </li>
                        <li>
                            <div class="slider-container">
                                {{ langs.SLIDER2|raw }}
                            </div>
                        </li>
                        <li>
                            <div class="slider-container">
                                {{ langs.SLIDER3|raw }}
                            </div>
                        </li>
                        <li>
                            <div class="slider-container">
                                {{ langs.SLIDER4|raw }}
                            </div>
                        </li>
                        <li>
                            <div class="slider-container">
                                <h2>Team up</h2>
                                <p>Maak deel uit van een familie en neem deel aan oorlogen en familie overvallen!</p>
                            </div>
                        </li>
                        <li>
                            <div class="slider-container">
                                <h2>Investeer</h2>
                                <p>Waag je kans op de Beurs en maak tot 100 den miljoenen met tactiek en inzicht!</p>
                            </div>
                        </li>
                        <li>
                            <div class="slider-container">
                                <h2>Presteer</h2>
                                <p>Zorg voor eeuwige roem door in de hall van onze helden te staan!</p>
                            </div>
                        </li>
                    </ul>
                </section><br /><br />
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
{{ cfTurnstile.turnstileScript(CF_TURNSTILE_SITEKEY) }}
{% endblock javascripts %}
