{% extends "/app/Resources/Views/base.twig" %}

{% block stylesheets %}
{% for s in screenshots %}
    <link rel="preload" media="(min-width: 766px)" href="{{ staticRoot }}/foto/1802x860/1/web/public/images/screenshots/{{ lang }}/{{ s.screen }}.png" as="image" />
    <link rel="preload" href="{{ staticRoot }}/foto/web/public/images/screenshots/{{ lang }}/{{ s.screen }}.mobile.png" as="image" />
{% endfor %}
<style type="text/css">
    section#content {padding-bottom:0;}
    .carousel.slide {margin-top:-1.05rem; max-height: 869px;overflow:hidden;}
    h1 {position: absolute;top: -10em;}
</style>
{% endblock stylesheets %}
 
{% block content %}
    <h1>{{ PAGE_TITLE|replace({' - Mafiasource': ''}) }}</h1>
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for s in screenshots %}
            <li data-target="#carouselIndicators" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for s in screenshots %}
            <div id="carousel_{{ loop.index }}" class="carousel-item{% if loop.first %} active{% endif %}">
                <picture>
                    <source media="(min-width: 766px)" srcset="{{ staticRoot }}/foto/1802x860/1/web/public/images/screenshots/{{ lang }}/{{ s.screen }}.png" />
                    <img class="d-block w-100" src="{{ staticRoot }}/foto/web/public/images/screenshots/{{ lang }}/{{ s.screen }}.mobile.png" alt="{{ s.name }}" />
                </picture>
            </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="push"></div>
{% endblock content %}

{% block privacyNotice %}{% endblock privacyNotice %}
