{% import "app/Resources/Views/macros/user.tag.macro.twig" as userTagManager %}

{% apply spaceless %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{{ docRoot }}"/>
    <title>{{ PAGE_TITLE }}</title>
    <meta property="og:title" content="{{ PAGE_TITLE }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ PAGE_IMAGE }}" />
    <meta property="og:url" content="{{ PAGE_URL }}" />
    <meta property="og:description" content="{{ PAGE_DESCRIPTION }}" />
    <meta property="og:site_name" content="{{ routing.settings.gamename }}" />
    <meta name="twitter:card" content="summary_marge_image" />
    <meta name="twitter:title" content="{{ PAGE_TITLE }}" />
    <meta name="twitter:description" content="{{ PAGE_DESCRIPTION }}" />
    <meta name="twitter:image" content="{{ PAGE_IMAGE }}" />
    <meta name="twitter:site" content="@{{ routing.settings.gamename }}" />
    <link rel="publisher" href="{{ AUTHOR }}"/>
    <meta property="DC.title" content="{{ PAGE_TITLE }}" />
    <meta property="DC.subject" content="{{ PAGE_SUBJECT }}" />
    <meta property="DC.description" content="{{ PAGE_DESCRIPTION }}" />
    <meta property="DC.format" content="text/html" />
    <meta property="DC.publisher" content="{{ AUTHOR }}" />
    <meta property="DC.language" content="{{ langsRaw }}" />
    <meta name="description" content="{{ PAGE_DESCRIPTION }}" />
    <meta name="keywords" content="{{ PAGE_KEYWORDS }}" />
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="copyright" content="2020 {{ routing.settings.domainBase }}" />
    <meta name="application-name" content="{{ routing.settings.gamename }}" />
    <meta name="google-site-verification" content="1pdpzSKdcZBpNYkkzZ0z3Sqxb9FXcZz4eJmolTUHFU8" />
    <meta name="geo.region" content="{{ langsRaw }}" /> 
    <meta name="geo.placename" content="Menen, Belgium" /> 
    <meta name="geo.position" content="50.79722,3.12245" /> 
    <meta name="ICBM" content="50.79722,3.12245" />
    <meta name="robots" content="index, follow" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ staticRoot }}/foto/web/public/images/favicon/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ staticRoot }}/foto/web/public/images/favicon/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ staticRoot }}/foto/web/public/images/favicon/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ staticRoot }}/foto/web/public/images/favicon/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ staticRoot }}/foto/web/public/images/favicon/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ staticRoot }}/foto/web/public/images/favicon/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ staticRoot }}/foto/web/public/images/favicon/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ staticRoot }}/foto/web/public/images/favicon/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ staticRoot }}/foto/web/public/images/favicon/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ staticRoot }}/foto/web/public/images/favicon/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ staticRoot }}/foto/web/public/images/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="{{ staticRoot }}/foto/web/public/images/favicon/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ staticRoot }}/foto/web/public/images/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="{{ docRoot }}/web/public/images/favicon/manifest.json"/>
    <meta name="theme-color" content="#333" />
    <meta name="msapplication-TileColor" content="#333"/>
    <meta name="msapplication-TileImage" content="{{ staticRoot }}/foto/web/public/images/favicon/ms-icon-144x144.png"/>
    <link href="{{ staticRoot }}/web/public/bootstrap/css/bootstrap.min.css" rel="preload" as="style"/>
    <link href="{{ staticRoot }}/web/public/css/homepage.min.css" rel="preload" as="style"/>
    <link href="{{ staticRoot }}/web/public/js/default/jquery.popper.bootstrap.min.js"rel="preload"  as="script" />
    <link href="{{ staticRoot }}/web/public/js/outgame.js" rel="preload"  as="script" />
    <link href="https://fonts.googleapis.com/css?family=Sirin+Stencil|Quicksand&display=swap" rel="preload" as="style"/>    
    <link rel="stylesheet" href="{{ staticRoot }}/web/public/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ staticRoot }}/web/public/css/homepage.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sirin+Stencil|Quicksand&display=swap" />
    <style type="text/css">
        {% for donatorColor in statusDonatorColors.donatorColors %}
            .{{ donatorColor.getDonator|seoUrl }} {color:{{ donatorColor.getColorCode }};}
        {% endfor %}
        {% for statusColor in statusDonatorColors.statusColors %}
            .{{ statusColor.getStatus|seoUrl }} {color:{{ statusColor.getColorCode }};}
        {% endfor %}
    </style>
    {# Twig stylesheets #}
    {% block stylesheets %} {% endblock stylesheets %}
</head>
<body>
    {% block header %}
    <header id="top" class="header">
        <div class="container cf">
            <div class="logo"></div>
            <nav id="menu" class="cf">
                <ul>
                    {% if userData is not empty and ingame  == true %} {# Notfound in /game/ #}
                        <li><a href="{{ routing.getRouteByRouteName('news') }}">{{ langs.NEWS }}</a></li>
                        <li><a href="{{ routing.getRouteByRouteName('information') }}">{{ langs.INFORMATION }}</a></li>
                        <li><a href="{{ routing.getRouteByRouteName('toplist') }}">{{ langs.TOPLIST }}</a></li>
                        <li><a href="{{ routing.getRouteByRouteName('game-forum') }}">Forum</a></li>
                    {% else %}
                        <li><a href="/">{{ langs.HOME }}</a></li>
                        {% if userData is empty %}
                            {% if not offline %}
                                <li class="hideLargeScreen"><a href="{{ routing.getRouteByRouteName('login') }}">{{ langs.LOGIN }}</a></li>
                                <li><a href="{{ routing.getRouteByRouteName('register') }}">{{ langs.REGISTER }}</a></li>
                            {% endif %}
                            <li><a href="{{ routing.getRouteByRouteName('screenshots') }}">{{ langs.SCREENSHOTS }}</a></li>
                        {% else %}
                            <li><a href="{{ routing.getRouteByRouteName('toplist') }}">{{ langs.TOPLIST }}</a></li>
                            <li><a href="{{ routing.getRouteByRouteName('information') }}">{{ langs.INFORMATION }}</a></li>
                        {% endif %}
                        <li><a href="{{ routing.getRouteByRouteName('forum') }}">{{ langs.FORUM }}</a></li>
                    {% endif %}
                </ul>
            </nav>

            {% block asideLogin %}
                {% if userData is not empty %}
                    <div class="headUser">
                        {{ userTagManager.write('userOutgame', userData.getId, userData.getId, userData.getUsername, userData.getDonatorID, userData.getUsernameClassName) }}
                    </div>
                {% elseif not offline %}
                    <aside id="login">
                        <form action="/login" method="POST" class="headLogin">
                            <input type="text" name="username" placeholder="{{ langs.USERNAME }}" value="{{ username }}"/>
                            <input type="password" name="password" placeholder="{{ langs.PASSWORD }}" value=""/>
                            <input type="hidden" name="security-token" value="{{ securityToken }}"/>
                            <button type="submit" name="submit_login" class="button small-1-icon"><img src="{{ staticRoot }}/foto/web/public/images/icons/monitor_go.png" class="icon" alt="{{ langs.LOGIN }}"/></button>
                        </form>
                    </aside>
                {% endif %}
            {% endblock asideLogin %}
        </div>
    </header>
    {% endblock header %}
    
    {% block content %}
    {% endblock content %}
    
    {% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <em><span class="hideMobile">Copyright </span>{{ "now"|date("Y") }} &copy; {{ settings.domainBase|lower }}<span class="hideTablet"> - {{ langs.END_COPY }}</span></em>
                </div>
                <div class="col-4">
                    <small class="hideTablet right">
                        <a href="{{ routing.getRouteByRouteName('terms-and-conditions') }}">{{ langs.TERMS_AND_CONDITIONS }}</a> - <a href="{{ routing.getRouteByRouteName('privacy-policy') }}">{{ langs.PRIVACY_POLICY }}</a>
                    </small>
                    {% set langSet, langName = 'nl', 'Nederlands' %}
                    {% if lang == 'nl' %}
                        {% set langSet, langName = 'en', 'English' %}
                    {% endif %}
                    <a href="{{ routing.getRouteByRouteName('set_lang_' ~ langSet) }}">
                        <img src="{{ staticRoot }}/foto/web/public/images/icons/lang_{{ langSet }}_small.gif" class="langSelect" width="16" height="11" alt="{{ langName }}" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}
    
    {# Bootstrap core JavaScript #}
    <script type="text/javascript" src="{{ staticRoot }}/web/public/js/default/jquery.popper.bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ staticRoot }}/web/public/js/outgame.js"></script>
    
    {# Twig javascripts #}
    {% block javascripts %} {% endblock %}
</body>
</html>
{% endapply %}
