{% extends "/app/Resources/Views/modal.twig" %}

{% import "app/Resources/Views/macros/alert.macro.twig" as alert %}

{% block title %}
    <h4 class="modal-title">{{ langs.DONATE }} {{ langs.FOR|lower }} credits</h4>
{% endblock title %}

{% block content %}
    <div id="donateResponse">
        {{ donatePage|raw }}
        <form class="ajaxForm" action="{{ routing.getAjaxRouteByRouteName('donate') }}" method="POST" data-response="#donateResponse">
            <input type="hidden" name="security-token" value="{{ securityToken }}"/>
            <input type="submit" name="donate" value="{{ langs.CONTINUE }}"/>
        </form>
    </div>
    <br class="clear"/>
    {% set donateMsg = langs.CAN_RECEIVE %}
    {% if dData %}
        {% set donateMsg = donateMsg ~ " " ~ langs.LIMIT_RESET %}
    {% endif %}
    {{ alert.build('Info', 'alert-info', 'help', donateMsg) }}
{% endblock content %}

{% block footer %}
    <button type="button" class="btn btn-default button" data-bs-dismiss="modal">{{ langs.CLOSE }}</button>
    <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
{% endblock footer %}
