{% extends "/app/Resources/Views/modal.twig" %}

{% block css %}
    ::-webkit-input-placeholder {color:#ccc;}
    :-moz-placeholder {color:#ccc;opacity:  1;}
    ::-moz-placeholder {color:#ccc;opacity:  1;}
    :-ms-input-placeholder {color:#ccc;}
{% endblock css %}

{% block title %}
    <h4 class="modal-title">{{ langs.NEW_TOPIC }} in {{ category|lower }}</h4>
{% endblock title %}

{% block content %}
    <div id="ajaxLoader"></div>
    <div id="forumNewTopicResponse"></div>
    <form id="forum-new-topic" class="ajaxForm" action="{{ routing.getAjaxRouteByRouteName('forum-new-topic') }}" method="POST" data-response="#forumNewTopicResponse">
        <input type="hidden" name="category" value="{{ category }}"/><br />
        <input type="text" name="topic-title" placeholder="Topic {{ langs.TITLE|lower }}" value="" maxlength="100"/><br /><br />
        <textarea id="articleField" name="topic-message" rows="10" cols="80"></textarea>
        <input type="hidden" name="security-token" value="{{ securityToken }}"/>
        <br class="clear"/>
        <input type="submit" name="submit-reply" class="execbutton small" value="{{ langs.POST_TOPIC }}"/>
    </form>
{% endblock content %}

{% block js %}
    $(document).ready(function(){
        if($('#modal').hasClass('in') == false) {
            $("#triggerModal").click();
            $("#triggerModal").remove();
            CKEDITOR.replace('articleField', {
                autoGrow_maxHeight: 650,
                removePlugins: 'resize',
                enterMode: CKEDITOR.ENTER_BR,
                shiftEnterMode: CKEDITOR.ENTER_P
            });
        }
        $('#modal').on('hidden.bs.modal', function () {
            $("#openTab").empty();
        });
    });
{% endblock js %}
