{% extends "/app/Resources/Views/modal.twig" %}

{% block title %}
    <h4 class="modal-title">{{ langs.EDIT_REACTION }}</h4>
{% endblock title %}

{% block content %}
    <div id="ajaxLoader"></div>
    <div id="forumEditResponse"></div>
    <form id="forum-edit" class="ajaxForm" action="{{ routing.getAjaxRouteByRouteName('forum-edit-reaction') }}" method="POST" data-response="#forumEditResponse">
        <input type="hidden" name="topicID" value="{{ topicID }}"/>
        <input type="hidden" name="reactionID" value="{{ reactionID }}"/>
        <textarea id="replyField" name="edited-message" rows="10" cols="80">{{ reactionContent|htmlEsc|raw }}</textarea>
        <input type="hidden" name="security-token" value="{{ securityToken }}"/>
        <br class="clear"/>
        <input type="submit" name="submit-reply" class="execbutton small" value="{{ langs.EDIT_REACTION }}"/>
    </form>
{% endblock content %}

{% block js %}
    $(document).ready(function(){
        if($('#modal').hasClass('in') == false) {
            $("#triggerModal").click();
            $("#triggerModal").remove();
            CKEDITOR.replace('replyField', {
                autoGrow_maxHeight: 650,
                removePlugins: 'resize',
                enterMode: CKEDITOR.ENTER_BR,
                shiftEnterMode: CKEDITOR.ENTER_P
            });
        }
        $('#modal').on('hidden.bs.modal', function () {
            $("#openTab").empty();
        });
    });
{% endblock js %}
