{% extends "/app/Resources/Views/modal.twig" %}

{% block css %}
    .setting-tab {display:block;width:250px;height:150px;background:url({{ staticRoot }}/web/public/images/settings.png);}
    .setting-tab:hover {background-position: 0 -150px;}
    .setting-tab-container {width:500px;max-width:100%;display:block;margin:0 auto;}
    .setting-tab.security-settings {background-position: -250px 0;}
    .setting-tab.security-settings:hover {background-position: -250px -150px;}
    #setting-container .security, #setting-container .account {display: none;}
    #setting-container input, #setting-container select {margin:5px auto; max-width:250px;}
    #setting-container .row {margin: 1em 0;padding:1em 0;box-sizing:border-box;border-bottom:1px solid #e1e1e1;}
    #setting-container #profile-settings .row:last-child {border-bottom:none;}
    #setting-container hr {width:100%;height:1px;background:#e1e1e1;margin:1em 0;border:none;}
    .settings-back-btn {display:none;}
    .settings-back-btn.active {display:inline-block;}
{% endblock css %}

{% block title %}
    <h4 class="modal-title">{{ langs.SETTINGS }}</h4>
{% endblock title %}

{% block content %}
    <div id="manage-settings"></div>
    <div class="setting-tab-container cf">
        <a href="javascript:void(0);" class="setting-tab middle" rel="account"></a><br class="clear" />
        <a href="javascript:void(0);" class="setting-tab security-settings middle" rel="security"></a>
    </div>
    <div id="setting-container">
        <div class="account">
            <form id="email-settings" class="account-settings" method="POST" action="{{ routing.getAjaxRouteByRouteName('save-settings') }}" data-response="#manage-settings"  autocomplete="off">
                <input type="hidden" name="security-token" value="{{ securityToken }}"/>
                <h4>{{ langs.EDIT_EMAIL }} ({{ langs.ENCRYPTED }})</h4>
                <input type="email" name="email" placeholder="email"/>&nbsp;
                <input type="submit" name="email-change" value="{{ langs.EDIT }}"/>
            </form>
            <hr />
            <form id="testament-settings" class="account-settings" method="POST" action="{{ routing.getAjaxRouteByRouteName('save-settings') }}" data-response="#manage-settings">
                <input type="hidden" name="security-token" value="{{ securityToken }}"/>
                <h4>{{ langs.TRANSFER_TESTAMENT }}</h4>
                <input type="text" name="testament" placeholder="{{ langs.WRITE_PLAYERNAME }}"/>&nbsp;
                <input type="submit" name="testament-change" value="{{ langs.TRANSFER }}"/>
            </form>
            <hr />
            <form id="avatar-settings" class="account-settings" method="POST" action="{{ routing.getAjaxRouteByRouteName('save-settings') }}" data-response="#manage-settings" enctype="multipart/form-data">
                <input type="hidden" name="security-token" value="{{ securityToken }}"/>
                <h4>{{ langs.UPLOAD_AVATAR }}</h4>
                <input name="avatar" type="file" multiple=""/>&nbsp;
                <input type="submit" name="avatar-upload" value="Upload"/>
            </form>
            <hr />
            <form id="profile-settings" class="account-settings" method="POST" action="{{ routing.getAjaxRouteByRouteName('save-settings') }}" data-response="#manage-settings">
                <input type="hidden" name="security-token" value="{{ securityToken }}"/>
                <h4>{{ langs.EDIT_PROFILE }}</h4>
                <textarea id="editProfile" name="profile" rows="10" cols="80">{{ profile }}</textarea><br />
                <input type="submit" name="profile-save" value="{{ langs.SAVE }}"/>
                <br /><br />
            </form>
        </div>
        <div class="security">
            <form id="password-settings" class="account-settings" method="POST" action="{{ routing.getAjaxRouteByRouteName('save-settings') }}" data-response="#manage-settings"  autocomplete="off">
                <input type="hidden" name="security-token" value="{{ securityToken }}"/>
                <h4>{{ langs.EDIT_PASSWORD }}</h4>
                <div class="form-group">
                <input type="password" class="form-control" name="old_pass" placeholder="{{ langs.OLD_PASSWORD }}"/>&nbsp;
                <input type="password" name="new_pass" placeholder="{{ langs.NEW_PASSWORD }}"/>&nbsp;
                <input type="password" name="new_pass_confirm" placeholder="{{ langs.NEW_PASSWORD_CONFIRM }}"/>&nbsp;
                <input type="submit" name="password-change" value="{{ langs.EDIT }}"/>
            </form>
            <hr />
            <form id="privateid-settings" class="account-settings" method="POST" action="{{ routing.getAjaxRouteByRouteName('save-settings') }}" data-response="#manage-settings"  autocomplete="off">
                <input type="hidden" name="security-token" value="{{ securityToken }}"/>
                <h4>PrivateID</h4>
                <small>{{ langs.PRIVATEID_INFO|raw }}</small><br /><br />
                {% if not pidActive %}
                    <input type="password" class="form-control" name="privateid_pass" placeholder="{{ langs.PASSWORD }}"/>&nbsp;
                {% else %}
                    <input type="text" class="form-control" name="privateid" placeholder="PrivateID"/>&nbsp;
                {% endif %}
                <select name="privateid-grade"{% if pidActive %} disabled="disabled"{% endif %}>
                    <option value="1">{{ langs.PRIVATEID_GRADE_1 }}</option>
                    <option value="2">{{ langs.PRIVATEID_GRADE_2 }}</option>
                    <option value="3">{{ langs.PRIVATEID_GRADE_3 }}</option>
                </select>&nbsp;
                <input type="submit" name="activate-privateid" value="{{ langs.GENERATE }}"{% if pidActive %} disabled="disabled"{% endif %}/>&nbsp;
                <input type="submit" name="deactivate-privateid" value="{{ langs.DEACTIVATE }}{% if not pidActive %} ({{ langs.NOT_ACTIVE }}){% endif %}"{% if not pidActive %} disabled="disabled"{% endif %}/>
                <br /><br />
            </form>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <button type="button" class="btn btn-default button settings-back-btn">{{ langs.BACK }}</button>&nbsp;
    <button type="button" class="btn btn-default button" data-bs-dismiss="modal">{{ langs.CLOSE }}</button>
    <script src="{{ staticRoot }}/web/vendor/ckeditorgame/ckeditor.js"></script>
{% endblock footer %}

{% block js %}
    $("form.account-settings").submit(function(e){
        if(ajaxBusy == false)
        {
            if($("#ajaxLoader").length)
            {
                $("#ajaxLoader").show();
            }
            for(var instanceName in CKEDITOR.instances){ CKEDITOR.instances[instanceName].updateElement(); }
            var postData = new FormData($(this)[0]);
            var formURL = $(this).attr("action");
            var method = $(this).attr("method");
            
            var btn = $("input[type=submit][clicked=true]").attr('name');
            var btnVal = $("input[type=submit][clicked=true]").val();
            postData.append(btn,btnVal);
            var responseField = $(this).attr("data-response");
            $.ajax(
            {
                cache: false,
                contentType: false,
                processData: false,
                url : formURL,
                type: method,
                data : postData,
                async: false,
                success:function(data)
                {
                   if($("#ajaxLoader" ).length)
                  {
                    $("#ajaxLoader").hide();
                  }
                  $(responseField).html(data);
                }
            });
        }
        e.preventDefault();
    });
    $(document).ready(function(){
        $("form.account-settings input[type=submit]").click(function() {
            $("input[type=submit]").each(function(){
                $(this).removeAttr("clicked");
            });
            $(this).attr("clicked", "true");
        });
        if($('#modal').hasClass('in') == false){ $("#triggerModal").click(); $("#triggerModal").remove();}
        $('#modal').on('hidden.bs.modal', function () {
            $("#openTab").empty();
        });
        $('.setting-tab').click(function(e){
            $(this).parent().slideUp(250);
            $("#setting-container > ."+$(this).attr('rel')).slideDown(250);
            $(".settings-back-btn").addClass('active');
            var editor = CKEDITOR.instances['editProfile'];
            if (editor) { editor.destroy(true); }
            if(!$(this).hasClass('security-settings'))
            {
                CKEDITOR.replace('editProfile', {
                    autoGrow_maxHeight: 650,
                    removePlugins: 'resize',
                    enterMode: CKEDITOR.ENTER_BR,
                    shiftEnterMode: CKEDITOR.ENTER_P
                });
            }
            e.preventDefault();
        });
        $('.settings-back-btn').click(function(){
            $('.account').slideUp(250);
            $('.security').slideUp(250);
            $(".settings-back-btn").removeClass('active');
            $('.setting-tab-container').slideDown(250);
        });
    });
{% endblock js %}
