<style type="text/css">
    div#vehicles-container > div.vehicles > div.row.even, div#vehicles-container > div.vehicles > div.row.odd {background-color: #e2e2e2 !important;color: #464646;padding: 5px;box-sizing: border-box;}
    div#vehicles-container > div.vehicles > div.row.odd {background-color: #ececec !important;}
    div#vehicles-container > div.vehicles > div.row:first-child {border-radius:5px 5px 0px 0px;}
    div#vehicles-container > div.vehicles > div.row:last-child {border-radius:0px 0px 5px 5px;}
    {% if id is empty %}
        #vehicles-container .vehicle-management {display: none;}
    {% else %}
        #vehicles-container .vehicles {display: none;}
    {% endif %}
    {% for v in vehicles %}
        {% if id is not empty and v.getId == id %}
            .vehicle-{{ v.getId }}-manage {display:block;}
        {% else %}
            .vehicle-{{ v.getId }}-manage {display:none;}
        {% endif %}
    {% endfor %}
    .vehicle-back-btn {display:none;}
    .vehicle-back-btn.active {display:inline-block;}
    input[type=text].username, input[type=number] {max-width: 110px;}
    #vehicles-container select[name=friend] {max-width:75px;}
</style>
<a href="#" id="triggerModal" data-toggle="modal" data-target="#modal"></a>
<div class="modal fade" id="modal" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ langs.TUNE }} in {{ langs.THE|lower }} garage {{ langs.OF|lower }} {{ userData.getState }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div id="vehicles-container" class="content-container">
          <div class="vehicles">
            {% for v in vehicles %}
            <div class="row cols cf {{ cycle(['odd', 'even'], loop.index0) }}">
              <div class="c-75 column no-border">
                <img src="{{ staticRoot }}/foto/web/public/images/icons/car.png" class="icon" alt="{{ langs.VEHICLE }}" /> {{ v.vehicle.getName }}
              </div>
              <div class="c-25 column no-border">
                <div class="right">
                  <button type="button" class="btn btn-default button manage" rel="vehicle-{{ v.getId }}-manage">{{ langs.TUNE }}</button>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="vehicle-management">
            {% include "src/Views/game/Ajax/garage.vehicle.tune.twig" %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default button vehicle-back-btn{% if id is not empty %} active{% endif %}">{{ langs.TO }} {{ langs.OVERVIEW|lower }}</button>&nbsp;
        <button type="button" class="btn btn-default button" data-dismiss="modal">{{ langs.CLOSE }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
$(document).ready(function(){
    if($('#modal').hasClass('in') == false){
        $("#triggerModal").click();
        $("#triggerModal").remove();
    }
    $('#modal').on('hidden.bs.modal', function () {
        $("#openTab").empty();
    });
    
    $('.manage').click(function(e){
        $("#vehicles-container > .vehicles").slideUp(250);
        $("#vehicles-container > .vehicle-management ."+$(this).attr('rel')).slideDown(0);
        $("#vehicles-container > .vehicle-management").slideDown(250);
        $(".vehicle-back-btn").addClass('active');
        e.preventDefault();
    });
    $('.vehicle-back-btn').click(function(e){
        $(".vehicle-management").slideUp(250);
        {% for v in vehicles %}
            $(".vehicle-management .vehicle-{{ v.getId }}-manage").slideUp(250);
        {% endfor %}
        $("#vehicles-container > .vehicles").slideDown(250);
        $(".vehicle-back-btn").removeClass('active');
        $("#interactVehicleResponse").html('');
        e.preventDefault();
    });
});
</script>
